USE [master]
GO
/****** Object:  Database [EsiniBulDB]    Script Date: 8.12.2019 00:13:47 ******/
CREATE DATABASE [EsiniBulDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EsiniBulDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EsiniBulDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EsiniBulDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EsiniBulDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EsiniBulDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EsiniBulDB]
GO
USE [EsiniBulDB]
GO
/****** Object:  Table [dbo].[OgrenciGiris]    Script Date: 8.12.2019 00:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgrenciGiris](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OgrenciNumarasi] [int] NULL,
	[OgrenciAdi] [nvarchar](50) NULL,
	[OgrenciSoyadi] [nvarchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
